[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
shepherd-core = "*"
shepherd-data = "*"

[dev-packages]
pre-commit = "*"
keithley2600 = "*"

[pipenv]
allow_prereleases = false
